.card {
  width: 55rem;
}

.empty {
  height: 30rem;
}

.card_text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img_card {
  height: 170px;
}
